footer {
	width: 100%;
	padding: 80px 0;
	background: #1c1c1c;
	position: relative;
	.container {
		width: 1180px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.wrap1 {
			padding-left: 30px;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			> a {
				display: block;
				font: bold 18px/1 $main-font;
				color: #fff;
				margin-bottom: 10px;
				cursor: pointer;
			}
			ul {
				display: flex;
				flex-direction: column;
				li {
					margin-top: 10px;
					color: #999;
					a {
						font: bold 16px/1 $main-font;
						color: #999;
					}
				}
			}
		}

		.web-wrap2 {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: center;
			text-align: center;
			img {
				margin-bottom: 10px;
			}
			p {
				font: 12px/1 'Montserrat';
				color: #999;
			}
		}
		.mob-wrap2 {
			display: none;
			flex-direction: column;
			justify-content: flex-end;
			width: 150px;
			h1 {
				font: bold 15px 'Montserrat';
				letter-spacing: 2px;
				text-align: center;
				color: #333;
				text-shadow: 0 1px 1px #999;
				&::after {
					content: '';
					display: block;
					width: 150px;
					height: 1px;
					background: #6d6d6d;
					margin: 10px 0;
				}
			}
			p {
				font: 10px/1 'Montserrat';
				text-align: center;
				color: #6d6d6d;
			}
		}

		.wrap3 {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 200px;
			text-align: right;
			div {
				display: flex;
				justify-content: space-between;
				// .icon {
				// 	font-size: 25px;
				// 	color: #999;
				// 	cursor: pointer;
				// }
			}
			address {
				font: 14px/1.3 $main-font;
				color: #999;
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: $tablet-origin) {
	footer {
		.inner {
			width: 100%;
			padding: 0px 40px;
		}
	}
}
