header {
	width: 100%;
	.container {
		position: relative;
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		.web-menu {
			width: 100%;
			padding-top: 25px;
			margin-left: 10px;
			float: left;
			height: 100%;
			.web-h1 {
				float: left;
				padding-right: 2vw;
				a {
					display: block;
					font: bold 16px/30px $main-font;
					transition: 0.5s;
					.home {
						margin-right: 5px;
					}
				}
			}
			nav {
				#gnb {
					width: 45vw;
					float: left;
					> li {
						float: left;
						padding-right: 2vw;
						&:last-child {
							border-right: none;
						}
						> a {
							display: block;
							font: bold 16px/30px $main-font;
							color: #eee;
							transition: 0.5s;
						}
					}
				}
			}
			.log {
				height: 100%;
				float: right;
				margin-right: 10px;
				li {
					float: left;
					height: 30px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
					a {
						display: block;
						font: 16px/1 $main-font;
						padding: 5px 10px;
						color: #fff;
						border: 1px solid #6d6d6d;
						border-radius: 15px;
						&:hover {
							background: #6d6d6d;
							color: #fff;
						}
					}
				}
			}
			.tablet-log {
				display: none;
				width: 56px;
				height: 100%;
				float: right;
				margin-right: 0px;
				li {
					width: 18px;
					float: left;
					text-align: right;
					&:first-child {
						margin-right: 20px;
					}
					a {
						color: #fff;
						.sign-in,
						.log-in {
							font-size: 16px;
						}
					}
				}
			}
		}
		.btn-call {
			display: none;
			width: 20px;
			height: 20px;
			position: absolute;
			right: 30px;
			top: 30px;
			z-index: 5;
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				transition: top 0.5s 0s, transform 0.5s 0.5s;
			}
			&::after {
				content: '';
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				bottom: 0;
				left: 0;
				background: #000;
				transition: bottom 0.5s 0s, transform 0.5s 0.5s;
			}
			span {
				display: block;
				width: 100%;
				height: 2px;
				position: absolute;
				top: 50%;
				left: 0;
				background: #000;
				margin-top: -1px;
				transition: 1s;
				text-indent: -9999px;
			}
			&.on {
				&::before {
					top: 50%;
					margin-top: -1px;
					transform: rotate(45deg);
				}
				&::after {
					bottom: 50%;
					margin-bottom: -1px;
					transform: rotate(-45deg);
				}
				span {
					transform: translateX(100%);
					opacity: 0;
				}
			}
		}
		.mob-menu {
			display: none;
			width: 100%;
			height: 90px;
			.mob-logo {
				width: 132px;
				height: 90px;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			.side-menu {
				display: flex;
				flex-direction: column;
				width: 270px;
				height: 100vh;
				position: fixed;
				top: 0;
				left: -270px;
				background: #1c1c1c;
				padding: 35px 30px;
				z-index: 6;
				transition: 0.5s;
				&.on {
					left: 0;
				}
				.mob-h1 {
					width: 143px;
					height: 45px;
					display: block;
					margin: 0 auto;
					margin-bottom: 20px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				.mob-log {
					li {
						width: 70%;
						height: 40px;
						margin: 0 auto;
						text-align: center;
						a {
							display: block;
							font: 14px/1 $main-font;
							padding: 5px 10px;
							color: #fff;
							border: 1px solid #6d6d6d;
							border-radius: 3px;
							text-align: center;
							&:hover {
								background: #6d6d6d;
								color: #fff;
							}
						}
					}
				}
				#mob_gnb {
					li {
						a {
							display: block;
							width: 100%;
							padding: 20px 0;
							border-bottom: 1px solid #444;
							font: bold 14px/1 $main-font;
							color: #888;
							text-align: center;
						}
					}
				}
			}
		}
	}
	&.main {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		transition: 0.5s;
		z-index: 2;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
		}
		.container {
			.web-menu {
				.web-h1 {
					a {
						color: #fff;
						&:hover {
							color: #000;
						}
					}
				}
				nav {
					#gnb {
						li a {
							color: #fff;
							&:hover {
								color: #000;
							}
						}
					}
				}
			}
		}
	}
	&.sub {
		height: 80px;
		background: #e3e3e3;
		.container {
			.web-menu {
				.web-h1 a {
					color: #000;
					font: bold 16px/30px $main-font;
				}
				nav #gnb li a {
					color: #000;
					font: bold 16px/30px $main-font;
				}
				.log {
					li a {
						color: #000;
					}
				}
				.tablet-log {
					a {
						color: #000;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet-plus) {
	header {
		.container {
			width: 100%;
			padding: 0 30px;
			.web-menu {
				nav {
					#gnb {
						width: 65%;
					}
				}
				.log {
					margin-right: 0;
				}
			}
		}
	}
}

//$tablet-origin (500px~849px)
@media screen and (max-width: $tablet-origin) {
	header {
		.container {
			.web-menu {
				position: relative;
				width: 100%;
				margin-left: 0;
				.web-h1 {
					padding-right: 3vw;
					a {
						font: bold 13px/30px $main-font;
					}
				}
				nav {
					#gnb {
						width: 59vw;
						li {
							margin-left: 5px;
							a {
								font: bold 13px/30px $main-font;
							}
						}
					}
				}
				.log {
					display: none;
				}
				.tablet-log {
					display: block;
				}
			}
		}
		&.sub {
			.container {
				.web-menu {
					.web-h1 a {
						font: bold 13px/30px $main-font;
					}
					nav #gnb li a {
						font: bold 13px/30px $main-font;
					}
				}
			}
		}
	}
}

//$mobile (~499px)
@media screen and (max-width: $mobile) {
	header {
		.container {
			position: relative;
			z-index: 3;
			.web-menu {
				display: none;
			}
			.btn-call {
				display: block;
			}
			.mob-menu {
				display: block;
			}
		}
		&.main {
			height: 90px;
			background: $bg-color;
			&:hover {
				background: $bg-color;
			}
		}
		&.sub {
			height: 90px;
		}
	}
}
