header {
	position: absolute;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
	background: transparent;
	transition: 0.5s;
	z-index: 3;
	&:hover {
		background: rgba(255, 255, 255, 0.2);
		z-index: 2;
	}
	.container {
		position: relative;
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		.web_menu {
			width: 100%;
			padding-top: 28px;
			margin-left: 10px;
			float: left;
			.web_h1 {
				float: left;
				padding-right: 3vw;
				a {
					display: block;
					font: bold 16px/1 $main-font;
					transition: 0.5s;

					.home {
						margin-right: 5px;
					}
				}
			}
			.mob-h1 {
				display: none;
			}
			nav {
				#gnb {
					width: 50vw;
					height: 20px;
					float: left;
					> li {
						float: left;
						padding-right: 3vw;
						&:last-child {
							border-right: none;
						}
						> a {
							display: block;
							font: bold 16px/1 $main-font;
							color: #eee;
							transition: 0.5s;
						}
					}
				}
			}
			.log {
				height: 100%;
				float: right;
				margin-right: 10px;
				li {
					float: left;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
					a {
						display: block;
						font: 16px/1 $main-font;
						padding: 5px 10px;
						color: #fff;
						border: 1px solid #6d6d6d;
						border-radius: 15px;
						&:hover {
							background: #6d6d6d;
							color: #fff;
						}
					}
				}
			}
			.tablet-log {
				display: none;
				width: 60px;
				height: 100%;
				float: right;
				margin-right: 0px;
				li {
					width: 20px;
					float: left;
					text-align: right;
					&:first-child {
						margin-right: 20px;
					}
					a {
						color: #fff;
						.sign-in,
						.log-in {
							font-size: 16px;
						}
					}
				}
			}
		}

		.fa-bars {
			font-size: 24px;
			position: absolute;
			bottom: 20px;
			right: 40px;
			display: none;
		}
	}
	&.main {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		transition: 0.5s;
		z-index: 3;
		&:hover {
			background: rgba(255, 255, 255, 0.2);
			z-index: 2;
		}
		.container {
			width: 1180px;
			height: 100%;
			margin: 0 auto;

			h1 {
				left: 5vw;
				a {
					color: #fff;
					&:hover {
						color: #000;
					}
				}
			}
			nav {
				#gnb {
					right: 5vw;
					li a {
						color: #fff;
						&:hover {
							color: #000;
						}
					}
				}
			}
			.fa-bars {
				color: #fff;
			}
		}
	}
	&.sub {
		height: 80px;
		background: #e3e3e3;
		.container {
			h1 a {
				color: #000;
			}
			#gnb li a {
				color: #000;
			}
			.log {
				li a {
					color: #000;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet-plus) {
	header {
		.container {
			width: 100%;
			// padding: 0px 30px;
			.web-menu {
				#gnb {
					width: 65%;
					> li > a {
						font: bold 13px/1 $main-font;
					}
				}
				.log {
					margin-right: 0;
					li a {
						font: bold 13px/1 $main-font;
					}
				}
			}
		}
	}
}

//$tablet-origin (500px~849px)
@media screen and (max-width: $tablet-origin) {
	header {
		.container {
			.web-menu {
				position: relative;
				width: 100%;
				height: 100%;
				.web-h1 {
					a {
						font: bold 13px/1 $main-font;
					}
				}

				#gnb {
					width: 62vw;
					li {
						margin-left: 10px;
						a {
							font: bold 13px/1 $main-font;
						}
					}
				}

				.log {
					display: none;
				}
				.tablet-log {
					display: block;
					width: 60px;
					height: 100%;
					float: right;
					margin-right: 0px;
					li {
						width: 20px;
						float: left;
						text-align: right;
						&:first-child {
							margin-right: 20px;
						}
						a {
							color: #fff;
							.log-in,
							.sign-up {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}

//$mobile (~499px)
@media screen and (max-width: $mobile) {
	header {
		height: 90px;
		background: $bg-color;
		&:hover {
			background: $bg-color;
		}
		.container {
			position: relative;
			.web-menu {
				display: none;
			}
			.btn-call {
				display: block;
			}
			.mob-menu {
				display: block;
			}
		}
	}
}
