header {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	z-index: 3;
	.container {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		position: relative;
		.web_menu {
			width: 100%;
			padding-top: 28px;
			float: left;
			.web_h1 {
				float: left;
			}
			#gnb {
				width: 50vw;
				height: 20px;
				float: left;
				> li {
					float: left;
					padding-right: 3vw;
					&:last-child {
						border-right: none;
					}
					> a {
						display: block;
						font: bold 16px/1 $main-font;
						color: #eee;
					}
				}
			}
			.log {
				height: 100%;
				float: right;
				margin-right: 10px;
				li {
					float: left;
					height: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-right: 10px;
					a {
						display: block;
						font: 16px/1 'arial';
						padding: 5px 10px;
						color: #eee;
						border: 1px solid #6d6d6d;
						border-radius: 3px;
						&:hover {
							background: #6d6d6d;
							color: #fff;
						}
					}
				}
			}
		}

		.mob_menu {
			display: none;
			flex-direction: column;
			width: 50vw;
			height: 100vh;
			position: fixed;
			top: 0;
			left: -50vw;
			background: #1c1c1c;
			padding: 35px 30px;
			z-index: 6;
			transition: 0.5s;
			&.on {
				left: 0;
			}
			.mob_h1 {
				width: 143px;
				height: 45px;
				display: block;
				margin: 0 auto;
				margin-bottom: 20px;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.mob_log {
				li {
					width: 70%;
					height: 40px;
					margin: 0 auto;
					text-align: center;
					a {
						display: block;
						font: 14px/1 'arial';
						padding: 5px 10px;
						color: #fff;
						border: 1px solid #6d6d6d;
						border-radius: 3px;
						text-align: center;
						&:hover {
							background: #6d6d6d;
							color: #fff;
						}
					}
				}
			}
			#mob_gnb {
				li {
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						border-bottom: 1px solid #444;
						font: bold 14px/1 'arial';
						color: #888;
						text-align: center;
					}
				}
			}
		}
		.fa-bars {
			font-size: 24px;
			position: absolute;
			bottom: 20px;
			right: 40px;
			display: none;
		}
	}
	&.main {
		width: 100%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0;
		background: transparent;
		z-index: 2;
		.container {
			width: 1180px;
			height: 100%;
			margin: 0 auto;

			h1 {
				left: 5vw;
				a {
					color: #fff;
				}
			}
			#gnb {
				right: 5vw;
				li a {
					color: #fff;
				}
			}
			.fa-bars {
				color: #fff;
			}
		}
	}
	&.sub {
		background: #222;
		.container {
			h1 a {
				color: #fff;
			}
			#gnb li a {
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: $tablet-origin) {
	header {
		.container {
			width: 100%;
			h1 {
				left: 40px;
			}
			#gnb {
				display: none;
			}
			.fa-bars {
				display: block;
			}
		}
	}
}
