.content {
	.container {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto 150px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 1s, transform 1s;
	}

	&.on .container {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: $tablet-origin) {
	.content {
		.container {
			width: 100%;
			margin: 80px auto 120px;
			padding: 0px 40px;
		}
	}
}
