@charset 'UTF-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
table,
th,
td {
	border-collapse: collapse;
}
fieldset {
	border: none;
}
.hidden {
	position: absolute;
	top: -99999px;
	opacity: 0;
}
textarea {
	resize: none;
}

//font
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Gowun+Dodum&family=Jost&family=Roboto&display=swap');
