.scroll_nav {
	position: fixed;
	right: 5vw;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 3;

	li {
		width: 15px;
		height: 15px;
		background: #ddd;
		border-radius: 8px;
		cursor: pointer;
		transition: 0.5s;
		&.on {
			height: 50px;
			background: #555;
		}
	}
}

@media screen and (max-width: $tablet-origin) {
	.scroll_nav {
		right: 4vw;
		gap: 25px;
		li {
			width: 10px;
			height: 10px;
			&.on {
				height: 35px;
			}
		}
	}
}
