#middleMenu {
	width: 100%;
	position: relative;
	margin-top: -15vh;
	z-index: 2;
	overflow: hidden;
	&.on .container .intro {
		h2 span {
			animation: wave 0.5s ease-in alternate;
			animation-fill-mode: forwards;
			@for $i from 0 through 20 {
				&:nth-of-type(#{$i + 1}) {
					animation-delay: 0.15s * $i;
				}
			}
		}
	}

	.container {
		width: 1180px;
		margin: 0 auto;
		background: #fff;
		.subGnb {
			width: 100%;
			height: 80px;
			top: 0;
			position: relative;
			display: inline-flex;
			> li {
				width: calc(100% / 3);
				background: #eeeeee;
				cursor: pointer;
				border-right: 2px solid #fff;
				position: relative;
				margin-bottom: 2px;
				transition: 0.5s;
				&:last-child {
					border-right: 0;
				}
				span {
					display: block;
					padding: auto;
					font: bold 20px/78px 'Roboto';
					color: #353535;
					text-align: center;
					position: relative;
				}
				&:hover {
					background: #333;
					span {
						color: #fff;
					}
					.subMenu {
						width: 100%;
						display: block;
						background: #fff;
						text-align: center;
						transition: 0.5s;
						ul {
							width: 250px;
							margin: auto;
							border: 1px solid #333;
							position: absolute;
							top: 80px;
							z-index: 3;
							li {
								height: 40px;
								background: #fff;
								&:hover {
									background: #353535;
									a {
										color: #fff;
									}
								}
								a {
									font: 15px/ 40px 'Roboto';
									display: inline-block;
									color: #333;
									letter-spacing: 2px;
								}
								&.isSub:hover .subMenu2 {
									position: absolute;
									display: block;
									margin-top: -120px;
									margin-left: 249px;
									li:hover {
										background: #333;
										a {
											color: #fff;
										}
									}
								}
								.subMenu2 ul li a {
									color: #333;
								}
							}
						}
					}
				}

				.subMenu {
					display: none;

					.subMenu2 {
						display: none;
					}
				}
			}
		}
		.intro {
			width: 100%;
			height: 380px;
			position: relative;
			h2 {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				margin: 40px auto;
				span {
					position: relative;
					font: bold 72px/1 'Roboto';
					color: #2a2a2a;
					text-align: center;
					transform: 0.3s;
				}
			}
			h3 {
				position: absolute;
				top: 17vh;
				left: 250px;
				font: bold 25px/35px 'Roboto';
				color: #2a2a2a;
				letter-spacing: 3px;
				margin: 0 auto 40px;
				text-align: center;
			}
			.pWrap {
				position: absolute;
				top: 29vh;
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				p {
					width: 45%;
					font: 15px/1.5 'Roboto';
					color: #bebebe;
					margin-bottom: 40px;
				}
				.left {
					margin-right: 20px;
					text-align: right;
				}
			}
		}
	}
}

@keyframes wave {
	0% {
		top: 0px;
	}
	50% {
		top: -40px;
	}
	100% {
		top: 0px;
	}
}

@media screen and (max-width: $tablet-plus) {
	#middleMenu {
		.container {
			width: 100%;
			padding: 0px 30px;
			background: #fff;
			.subGnb {
				width: 100%;
				height: 65px;
				> li {
					> a {
						font: bold 18px/65px 'Roboto';
					}
					&:hover {
						.subMenu {
							ul {
								top: 65px;
							}
						}
					}
				}
			}
			.intro {
				h2 {
					top: 30px;
					margin: 20px auto;
					span {
						font: bold 60px/1 'Roboto';
					}
				}
				h3 {
					width: 100%;
					font: bold 20px/35px 'Roboto';
				}
				span {
					font: bold 14px/1 'Roboto';
					letter-spacing: 2px;
					line-height: 20px;
					margin: 0 auto 40px;
					text-align: center;
				}
				.pWrap {
					p {
						font: 13px/1.5 'Roboto';
					}
				}
			}
		}
	}
}

//$tablet-origin (500px~849px)
@media screen and (max-width: $tablet-origin) {
	#middleMenu {
		.container {
			.subGnb {
				> li {
					&:hover {
						.subMenu {
							ul {
								width: 200px;
								li {
									&isSub:hover .subMenu2 {
										margin-left: 399px;
									}
									.subMenu2 {
										margin-top: 0px;
										ul {
											width: 200px;
											li {
												a {
													letter-spacing: 1px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.intro {
				height: 420px;
				h2 {
					span {
						font: bold 40px/1 'Roboto';
					}
				}
				h3 {
					top: 15vh;
					font: bold 16px/30px 'Roboto';
				}
				.pWrap {
					top: 28vh;
					p {
						font: 13px/1.5 'Roboto';
					}
				}
			}
		}
	}
}

//$mobile (~499px)
@media screen and (max-width: $mobile) {
	#middleMenu {
		z-index: 1;
		.container {
			.subGnb {
				display: none;
			}
			.intro {
				height: 460px;
				h2 {
					top: 15px;
					z-index: 6;
				}
				h3 {
					top: 13vh;
					font: bold 15px/1.2 'Roboto';
				}
				.pWrap {
					top: 28vh;
					flex-wrap: wrap;
					p {
						width: 100%;
						margin-bottom: 20px;
						text-align: center;
					}
					.left {
						margin-right: 0;
						text-align: center;
					}
				}
			}
		}
	}
}
