#middle_menu {
	width: 100%;
	position: relative;
	margin-top: -15vh;
	z-index: 2;
	overflow: hidden;
	// &.on .container {
	// 	.sub-gnb {
	// 		position: fixed;
	// 		width: 1180px;
	// 		z-index: 3;
	// 		> li {
	// 			background: #353535;
	// 			span {
	// 				color: #ffffff;
	// 			}
	// 			&:hover {
	// 				background: #bbb;
	// 				span {
	// 					color: #333;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.container {
		width: 1180px;
		margin: 0 auto;
		background: #fff;
		.sub-gnb {
			width: 100%;
			height: 80px;
			top: 0;
			position: relative;
			display: inline-flex;
			> li {
				width: calc(100% / 3);
				background: #eeeeee;
				cursor: pointer;
				border-right: 2px solid #fff;
				position: relative;
				margin-bottom: 2px;
				transition: 0.5s;
				&:last-child {
					border-right: 0;
				}
				span {
					display: block;
					padding: auto;
					font: bold 20px/78px 'Roboto', sans-serif;
					color: #353535;
					text-align: center;
					position: relative;
				}
				&:hover {
					background: #333;
					span {
						color: #fff;
					}
					.sub-menu {
						width: 100%;
						display: block;
						background: #fff;
						text-align: center;
						transition: 0.5s;
						ul {
							width: 250px;
							margin: auto;
							border: 1px solid #333;
							position: absolute;
							top: 80px;
							z-index: 3;
							li {
								height: 40px;
								background: #fff;
								&:hover {
									background: #353535;
									a {
										color: #fff;
									}
								}
								a {
									font: 15px/ 40px 'Roboto', sans-serif;
									display: inline-block;
									color: #333;
									letter-spacing: 2px;
								}
								&.isSub:hover .sub-menu-2 {
									position: absolute;
									display: block;
									margin-top: -120px;
									margin-left: 249px;
									li:hover {
										background: #333;
										a {
											color: #fff;
										}
									}
								}
								.sub-menu-2 ul li a {
									color: #333;
								}
							}
						}
					}
				}

				.sub-menu {
					display: none;

					.sub-menu-2 {
						display: none;
					}
				}
			}
		}
		.intro {
			width: 100%;
			height: 350px;
			position: relative;
			h2 {
				position: absolute;
				top: 0;
				left: 500px;
				width: 50%;
				font: bold 72px/1 'Roboto';
				color: #2a2a2a;
				text-align: center;
				margin: 40px auto;
			}
			h3 {
				position: absolute;
				top: 17vh;
				left: 250px;
				// width: 900px;
				font: bold 25px/35px 'Roboto';
				color: #2a2a2a;
				letter-spacing: 3px;
				margin: 0 auto 40px;
				text-align: center;
			}
			.p-wrap {
				position: absolute;
				top: 29vh;
				display: flex;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				p {
					width: 45%;
					font: 15px/1.5 'Roboto';
					color: #bebebe;
					margin-bottom: 40px;
				}
				.left {
					margin-right: 20px;
					text-align: right;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet-plus) {
	#middle_menu {
		.container {
			width: 100%;
			padding: 0px 30px;
			background: #fff;
			.sub-gnb {
				width: 100%;
				height: 65px;
				> li {
					> a {
						font: bold 18px/65px 'Roboto';
					}
					&:hover {
						.sub-menu {
							ul {
								top: 65px;
							}
						}
					}
				}
			}
			.intro {
				h2 {
					font: bold 55px/1 'Roboto';
					margin: 20px auto;
				}
				h3 {
					width: 100%;
					font: bold 20px/35px 'Roboto';
				}
				span {
					font: bold 14px/1 'Roboto';
					letter-spacing: 2px;
					line-height: 20px;
					margin: 0 auto 40px;
					text-align: center;
				}
				.p-wrap {
					p {
						font: 13px/1.5 'Roboto';
					}
				}
			}
		}
	}
}

//$tablet-origin (500px~849px)
@media screen and (max-width: $tablet-origin) {
	#middle_menu {
		.container {
			.sub-gnb {
				> li {
					&:hover {
						.sub-menu {
							ul {
								width: 200px;
								li {
									&isSub:hover .sub-menu-2 {
										margin-left: 399px;
									}
									.sub-menu-2 {
										margin-top: 0px;
										ul {
											width: 200px;
											li {
												a {
													letter-spacing: 1px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.intro {
				.p-wrap {
					margin-bottom: 20px;
				}
			}
		}
	}
}

//$mobile (~499px)
@media screen and (max-width: $mobile) {
	#middle_menu {
		z-index: 1;
		.container {
			.sub-gnb {
				display: none;
			}
			.intro {
				width: 100%;
				h2 {
					margin: 90px auto 40px;
					font: bold 40px/1 'Roboto';
				}
				h3 {
					font: bold 15px/1.2 'Roboto';
					margin-bottom: 30px;
				}
				span {
					width: 100%;
					margin: 20px auto;
				}
				.p-wrap {
					flex-wrap: wrap;
					p {
						width: 100%;
						margin-bottom: 20px;
						text-align: center;
					}
					.left {
						margin-right: 0;
						text-align: center;
					}
				}
			}
		}
	}
}
