#visual {
	width: 100%;
	height: 100vh;
	background: #555;
	position: relative;
	z-index: 1;
	overflow: hidden;
	.panel {
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgb(5, 5, 0);
		top: 0;
		left: 0;
		li {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: opacity 1s;
			z-index: 1;
			opacity: 0;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				filter: grayscale(1);
				transform: scale(1);
				transition: opacity 0.5s, transform 4s;
			}
			&.on {
				opacity: 1;
				img {
					transform: scale(1.05);
				}
			}
		}
	}

	.btns {
		position: absolute;
		height: 20px;
		left: 50%;
		top: 65vh;
		transform: translateX(-50%);
		display: flex;
		gap: 10px;
		z-index: 3;

		li {
			width: 90px;
			height: 9px;
			background: #000;
			opacity: 0.3;
			cursor: pointer;
			transition: 0.5s;

			&.on {
				background: #fff;
				opacity: 1;
			}
		}
	}

	.container {
		width: 1180px;
		height: 100%;
		margin: 0 auto;
		.cp-name {
			width: 220px;
			position: absolute;
			left: 50%;
			top: 17vh;
			transform: translateX(-50%);
			z-index: 3;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	nav {
		position: absolute;
		bottom: 10vh;
		right: 10vw;
		display: flex;
		gap: 30px;
		z-index: 2;
		span {
			cursor: pointer;
			color: #fff;

			&.on {
				font-weight: bold;
				color: #000;
			}
		}
	}
}

//$tablet-origin (500px~849px)
@media screen and (max-width: $tablet-origin) {
	#visual {
		.container {
			.cp-name {
				width: 170px;
			}
		}
	}
}

//$mobile (~499px)
@media screen and (max-width: $mobile) {
	#visual {
		.panel {
			background: rgb(255, 255, 255);
			li {
				width: 100%;
				height: 80%;
				overflow: hidden;
				img {
					position: relative;
					height: 100%;
					top: 40px;
					left: 0;
				}
				&.on img {
					opacity: 1;
					transform: scale(1.05);
				}
			}
		}
		.btns {
			top: 87vh;
			gap: 10px;
			li {
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background: #777;
				&.on {
					background: #000;
				}
			}
		}
		.container {
			.cp-name {
				display: none;
			}
		}
	}
}
