.Gallery {
	h1 {
		padding: 50px;
		border-bottom: 1px solid #bbbbbb;
		font: 40px/1 'arial';
	}
	#gallery {
		position: relative;
		h2 {
			display: block;
			font: bold 70px/1 'arial';
			padding: 0px 50px 50px;
			color: #000;
		}
		.search_box {
			position: absolute;
			width: 265px;
			top: 0px;
			right: 50px;
			input {
				width: 180px;
				height: 30px;
				padding: 10px;
				border: 1px solid #333;
			}
			.search-btn {
				width: 70px;
				height: 30px;
				border: none;
				background: #333;
				font: bold 13px/30px $kr-font;
				color: #fff;
				cursor: pointer;
				margin-left: 5px;
				vertical-align: top;
			}
			.interest-btn {
				color: #333;
				background: #fff;
				font-size: 16px;
				margin-bottom: 10px;
				font-style: italic;
				transition: 0.5s;
				border: none;
				.arrow {
					margin-right: 8px;
				}
				&:hover {
					transform: translateX(10px);
					text-decoration: underline;
					text-underline-position: under;
				}
			}
		}

		.gallery-title {
			position: relative;
			padding: 0 50px;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			font: 14px/1.5 'arial';
			p {
				float: left;
				&:nth-of-type(1) {
					width: 50%;
					text-align: left;
					padding-right: 20%;
				}
				&:nth-of-type(2) {
					width: 25%;
					padding-right: 5%;
				}
				&:nth-of-type(3) {
					width: 25%;
					text-align: right;
					padding-left: 5%;
				}
			}
		}
	}

	.loading {
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
	}

	.frame {
		padding: 30px;
		opacity: 0;
		transform: translateY(200px);
		transition: opacity 0.5s, transform 0.5s;
		&.on {
			opacity: 1;
			transform: translateY(0px);
		}
		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			float: left;
			width: calc(100% / 3);
			padding: 15px;

			.inner {
				width: 100%;
				padding: 10px;
				background: #fff;
				box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

				.pic {
					width: 100%;
					margin-bottom: 10px;

					img {
						width: 100%;
					}
				}

				span {
					font: normal 14px/1.2 'arial';
					color: #777;
					margin-bottom: 30px;
				}

				.profile {
					width: 36px;
					display: flex;
					gap: 10px;
					align-items: center;
				}
			}
		}
	}
}

@media screen and (max-width: $tablet-origin) {
	.Gallery .frame article {
		width: 50%;
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.controls {
			.searchBox {
				width: 100%;

				input {
					width: 100%;
					margin-bottom: 5px;
				}
				button {
					width: 100%;
					margin-bottom: 20px;
					margin-left: 0px;
				}
			}

			nav {
				width: 100%;
				display: flex;
				justify-content: space-between;
				button {
					width: 48%;
					margin-left: 0px;
				}
			}
		}

		.frame article {
			width: 100%;
		}
	}
}
